

.configIcon{
  color: white;
  font-weight: bolder;
  font-size: 2em;
  margin-left: auto;
  
  
}

.btnGroup{
  padding: 5px;
}

@media only screen and (min-width: 894px) {
  .btnGroup{display: block;
    max-width: 753px;
    margin: auto;
  
  }

  .footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  }

  .flagImage{
    width: 686px;
    height: 250px;
  }

}

.box{
  font-size: 16px;
  margin-left: 10px;
}